body {
  background-color: #eee;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

#theGame {
  background-color: #fff;
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.board {
  width: 173px;
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0 auto;
}

.tile {
  height: 50px;
  width: 50px;
  transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: transparent;
  cursor: pointer;
  color: red;
}

.tile.plr1 {
  background-color: powderblue;
  color: mediumslateblue;
}

.tile.plr2 {
  background-color: peachpuff;
  color: palevioletred;
}

.tile.line {
  color: gold;
  text-shadow: 0 0 5px black;
}

.statusMessage {
  margin-bottom: 20px;
}